/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  background: #fff;
}

input,
textarea {
  outline: none;
}

input:focus {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0, rgba(255, 255, 255, 0.8) -6px -2px 16px 0;
}

nav {
  padding: 1em;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .navbar-left {
    .new-post-link {
      background: #d7f5ea;
      font-weight: 600;
      border-radius: 10px;
      color: #437866;
      padding: 0.8em;
      margin-left: 2em;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
    }

    .logo {
      font-weight: 900;
      color: #154d8b;
      padding: 0.5em;
      text-transform: uppercase;
    }
  }

  .nav-right {
    .signup,
    .signin,
    .signout {
      background: #ebf3f7;
      border-radius: 10px;
      color: #5f8ca3;
      font-weight: 600;
      padding: 0.8em;
      margin-left: 2em;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0, rgba(0, 0, 0, 0.06) 0 1px 2px 0;
    }
  }
}
